@font-face {
    font-family: Baloo;
    src: url(../uploads/Baloo2.ttf);
}

*{
    font-family: 'Baloo';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white
}


body{
    min-height: 100vh;
    background-color: #485855;
}


header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    height: 100%;
    color: white;
    display: flex;
}

header img{
    height: 100px;
}

header .navbar ul{
    list-style: none;
    min-height: 100%;
}

header .navbar ul li{
    position: relative;
    float: left;
    height: 100%;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
    width: 150px;
    text-align: center;
}

header .navbar ul li a:hover{
    color: black;
    background-color: white;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 150px;
    background-color: black;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
}

header .navbar ul li ul li ul{
    left: 150px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    cursor: pointer;
    display: none;
}



#banner{
    min-height: 200px;
    height: fit-content;
    display: flex;
    
    flex-direction: column;
    position: relative;
}

#banner-bg{

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: -1;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-label{
    display: block;
    font-weight: bold;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    text-shadow: 2px 2px #ff00f2;
}

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.flex-box{
    display: flex;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media (max-width : 991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li a{
        width: 100%;
        text-align: left;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background-color: black;
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    header img{
        height: 75px;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

    #banner-label{
        font-size: 50px;
    }
}
