<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block style %} {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='uploads/zimlewis_logo.ico') }}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <script src = "{{ url_for('static', filename='data/data.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <a href = "/" class = "logo">  
                <img src = "{{ url_for('static', filename='uploads/zimlewis_logo.png') }}" title = "Đinh Phạm Lê Hoàng"></img>  
            </a>

            <input type = "checkbox" id = "menu-bar" />
            <label for = "menu-bar">Menu</label>

            <nav class = "navbar">
                <ul>
                    <li><a href = "/">Home</a></li>
                    <li><a href = "/blogs">Blogs</a></li>
                </ul>
            </nav>
        </header>
        <div id = "banner">{% block banner_bg %}{% endblock %}{% block banner_label %}{% endblock %}</div>
        {% block content%}{% endblock %}
        {% block script %}{% endblock %}

        <footer class="footer">
            <div class="footer-container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Play my games</h4>
                        <ul>
                            <li><a href="https://gamejolt.com/@dimlelquit">Gamejolt</a></li>
                            <li><a href="https://gamejolt.com/@dimlelquit">Itch.io</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow me</h4>
                        <div class="social-links">
                            <a href="https://www.facebook.com/daychacchanlahoang"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://www.reddit.com/u/Zimlewis"><i class="fab fa-reddit"></i></a>
                            <a href="https://www.instagram.com/dplhoang/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>Contact me</h4>
                        <ul>
                            <li><a onclick = "copyText(this.innerText)" href="tel:0355361405">0355361405</a></li>
                            <li><a onclick = "copyText(this.innerText)" href="mailto:z1ml3w1s123@gmail.com">z1ml3w1s123@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
       </footer>

        <script>
        function copyText(text) {
            /* Copy text into clipboard */
            navigator.clipboard.writeText
                (text);
        }
        </script>
    </body>
</html>